<header>

  <ul id="dropdown0" class="dropdown-content">
    <li><a href="/manager/letter_write">오늘의 뉴스 작성하기</a></li>
    <li class="divider"></li>
    <li><a href="/manager/letter_send_category">오늘의 편지 보내기</a></li>
    <li class="divider"></li>
    <li><a href="/manager/membership_today">오늘의 멤버십 신청자</a></li>
    <li class="divider"></li>
    <li><a href="/manager/autoscript">오늘의 코드</a></li>
  </ul>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/manager/letter_find">뉴스 관리</a></li>
    <li class="divider"></li>
    <li><a href="/manager/users">사용자 관리</a></li>
    <li class="divider"></li>
    <li><a href="/manager/category_manage">카테고리 추가</a></li>
    <li class="divider"></li>
    <li><a href="/manager/board">게시판 관리</a></li>
    <li class="divider"></li>
    <li><a href="/service/review">이용후기</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="/users/sign_out">로그아웃</a></li>
  </ul>


    <nav style="background-color:#24B29A;">
      <div class="nav-wrapper">
        <a href="/service/index" class="brand-logo"><img style="width:180px;" src="<%= image_path 'logo1.png' %>"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          <li>
              <a class="white-text dropdown-button" data-activates="dropdown0" data-beloworigin="true">
                   <i class=" Tiny material-icons left">loyalty</i>오늘의 관리<i class="material-icons right">arrow_drop_down</i>
              </a>
          </li>
          <li>
              <a class="white-text dropdown-button" data-activates="dropdown1" data-beloworigin="true">
                   <i class=" Tiny material-icons left">info</i>관리자 메뉴<i class="material-icons right">arrow_drop_down</i>
              </a>
          </li>
          <li>
              <a class="white-text dropdown-button" data-activates="dropdown2" data-beloworigin="true">
                   <i class=" Tiny material-icons left">perm_identity</i>계정관리<i class="material-icons right">arrow_drop_down</i>
              </a>
          </li>
        </ul>


        <ul class="collapsible side-nav black-text" id="mobile-demo" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">loyalty</i>오늘의 관리</div>
            <div class="collapsible-body">
                  <ul>
                    <li><a href="/manager/letter_write">오늘의 뉴스 작성하기</a></li>
                    <li><a href="/manager/letter_send_category">오늘의 편지 보내기</a></li>
                    <li><a href="/manager/membership_today">오늘의 멤버십 신청자</a></li>
                    <li><a href="/manager/autoscript">오늘의 코드</a></li>
                    <li><a href="/service/review">이용후기</a></li>
                  </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">info</i>뉴스/사용자 관리</div>
            <div class="collapsible-body">
                  <ul>
                    <li><a href="/manager/letter_find">뉴스 관리</a></li>
                    <li><a href="/manager/users">사용자 관리</a></li>
                    <li><a href="/manager/category_manage">카테고리 추가</a></li>
                    <li><a href="/manager/board">게시판 관리</a></li>
                  </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">perm_identity</i>계정관리</div>
            <div class="collapsible-body">
                  <ul>
                    <li><a href="/users/sign_out">로그아웃</a></li>
                  </ul>
            </div>
          </li>
        </ul>

      </div>
    </nav>


    </header>
