<%= render 'service/nav' %>


  <!--<div class="parallax-container" style="height:400px">-->
  <!--  <div class="parallax"><img src="/assets/mmain2.png">-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="section white">-->
    <div class="row container">
      <h5 class="header"><b><i class="material-icons">opacity</i>오아미스란?</b></h5>
      <p class="grey-text text-darken-3 lighten-3">
          <i class="tiny material-icons">comment</i>
           <b class="blue_armys" style="font-size:1.5em">오아미스</b>는 사회와 단절된 훈련병들에게 <b class="blue_armys" style="font-size:1.5em">오아시스 같은 사회소식을 보내주는 서비스입니다.</b>
      </p>
      <p class="grey-text text-darken-3 lighten-3">
          <i class="tiny material-icons">comment</i>
           사회 소식들은 <b class="blue_armys" style="font-size:1.5em">인터넷편지</b>를 통해서 <b class="blue_armys" style="font-size:1.5em">매주 화,목,토 전송됩니다.</b>
      </p>
      <p class="grey-text text-darken-3 lighten-3">
          <i class="tiny material-icons">comment</i>
           전송 여부와 전송 내역들은 <b class="blue_armys" style="font-size:1.5em">오아미스 홈페이지</b>를 통해서 확인할 수 있습니다.
      </p>


      <br>
<h5 class="header"><b><i class="small material-icons">pageview</i>오아미스 이슈 샘플</b></h5>
      <p class="grey-text text-darken-3 lighten-3">
          <i class="tiny material-icons">comment</i>
           오아미스는 카테고리 별로 훈련병에게 보낼 소식을 선택할 수 있습니다. 카테고리 당 3개의 뉴스로 구성되며, 하나의 소식는 <b class="blue_armys" style="font-size:1.5em">뉴스와 네티즌 베스트 댓글로 구성됩니다.</b>
      </p>
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><i class="material-icons">language</i>시사</div>
          <div class="collapsible-body"><p>
          [영국 EU 탈퇴 확정]<br><br>
           영국이 브렉시트(영국의 EU탈퇴) 국민투표를 통해 24일 브렉시트가 확정됐다. (브렉시트 찬성 51.9%) 이에 따라 유럽뿐만 아니라 전세계 금융시장이 출렁이는 등 큰 후폭풍에 시달리고 있다. 파운드가 폭락하고 (1,627원/파운드) 안전한 외화로 여겨진 엔화가 폭등했다. (1139원/엔) 뿐만 아니라 우리나라 증시도 코스닥이 7%까지 빠져 일시적으로 거래가 중지 됐으며 정부도 대책마련에 들어갔다.<br>
          ▲ 그래서 아시아는 이런거 안해. ▲ 사람도 둘이 한가족 되기가 힘든데.. 각기 다른 민족이 한 덩어리로 살기가 쉽지 않은거지.. <br><br><br>
          
          [‘넥슨 뇌물’ 진경준 검사장.. 결국 해임. 검찰 역사상 처음]<br><br>
           넥슨 창업주 김정주 대표로부터 주식, 자동차, 가족 해외여행 경비 등 총 9억 5천만 원어치의 뇌물을 받은 혐의를 받은 진경준 검사장이 결국 법무부 징계위원회로부터 해임을 당했다. 이는 68년 대한민국 검찰 역사상 처음 있는 일이다. 진경준 검사장은 대학 동창인 넥슨 김정주 회장으로부터 4억원 가량의 돈을 받아 넥슨의 비상장주식을 구입했고, 넥슨이 상장되자 주식을 팔면서 엄청난 금액의 차익을 챙겼다. 진경준은 당시의 주식투자를 모두 사비로 했다고 말했지만 김정주 회장으로부터 받은 뇌물이 밝혀지면서 이는 모두 거짓으로 드러났다. 이뿐만 아니라 넥슨의 법인 차량인 ‘제네시스’를 자신의 처남 명의로 받은 혐의와, 넥슨 측이 제공한 돈으로 가족여행을 떠난 혐의가 모두 사실로 밝혀졌다. 검사가 해임되면 3년간 변호사 개업이 금지되고 연금도 25%가 삭감되지만, 국민들은 징계 수위가 약하다는 반응이다.<br>
          ▲ 68년 역사를 최초로 쓸려면 파면이 어울리지않나?. ▲ 저런 넘이 다시 나와서 버젓이 변호사 활동한다는 게 말이 안된다. 다시는 법조계에 발 못붙이도록 해야한다. ▲ 검찰에서 막다 막다 더이상 막을 수 없어서 터진거지.지금까지는 제식구 감싸기 식으로 덮어온 거지.
          <br><br><br>
          
          [8월 9일, 리우 올림픽 소식 정리]<br><br>   
          8월 9일 리우올림픽 4일차 / 대한민국 현재 8위 (금2, 은2, 동1) <br>
금1: 대한민국의 첫 금메달은 양궁 남자 단체에서 터졌다. 김우진, 구본찬, 이승윤 선수들은 미국과의 경기에서 전 라운드를 이기면서 6:0 퍼펙트 승리를 보여줬다. 이날의 승리는 지난 2012년 런던 올림픽에서 미국에게 패하여 동메달에 머물렀던 것을 퍼펙트로 설욕하면서 더 값진 승리가 됐다.<br>
금1: 두번째 금메달도 양궁이었다. 대한한국 양궁 여자 단체의 기보배, 최미선, 장혜진 선수들이 러시아와의 결승전에서 압도적인 세트점수 5-1로 승리하면서 올림픽 8연패, 32년 연속 정상의 자리를 지켰다.<br>
은1: 남자 유도 세계랭킹 1위인 대한민국의 안바울 선수가 남자유도 66kg급에서 은메달을 거머쥐었다. 32강, 16강을 한판으로, 8강을 절반으로 끝내며 무서운 기세로 상대를 차례로 업어친 안바울 선수는 ‘천적’이었던 일본의 에비누마 마사시를 연장 접전끝에 되치기로 물리쳤다. 하지만 아쉽게도 마지막 결승에서 이탈리아의 파비오 바실 선수에게 한판패를 당하면서 금메달은 놓쳤지만, 대한민국에서 소중한 은메달을 안겨주었다.
          <br>       
  
          </p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">stars</i>연예</div>
          <div class="collapsible-body"><p>
          [홍상수 감독, 배우 김민희와 외도]<br><br>
          -	최근 영화 ‘아가씨’로 인기를 끌고 있는 배우 김민희(34)가 무려 22살 차이인 영화감독 홍상수(56)과 부적절한 관계를 이어오고 있어 큰 충격을 주고 있습니다. 김민희와 유부남인 홍상수 감독은 영화 ‘지금은 맞고 그때는 틀리다’를 찍을 때 사귀게 됐고 지금까지 이어오고 있습니다. 이 둘의 관계는 영화 관계자 사이의 공공연한 비밀일 뿐만 아니라, 양가의 부모/가족 들도 모두 알고 있는 사실이라고 합니다. 현재 홍 감독은 9개월째 집을 비운 상태입니다.<br>
         ▲ 어떻게 저럴 수가 있냐 연예계 진짜 개판이다 ▲김민희가 유부남 대학생딸까지 있는 홍감독을 꼬셔서 가정이 파괴되었다는 내용인데 이거 진짜면 김민희 불륜녀로 매장각<br><br><br>
          
          [배우 최여진 모, 양궁 기보배 선수에게 욕설 논란]<br><br>
          배우 최여진의 모친인 정모씨가 이번 리우 올림픽에서 금메달을 딴 양궁 국가대표 기보배 선수에게 SNS를 통해 욕설을 퍼부어 논란이 일고 있다. 정모씨는 2010년, 기보배 선수가 보신타을 즐긴다는 내용의 기보배 선수 부친의 인터뷰 내용을 인용하면서 “니년이 미쳤구나. 한국을 미개인나라라고 선전하냐? 보신탕 먹어서 활이 잘 맞으면 니에미애비도 처드시지…”라는 글을 써 큰 논란이 일어났다. 이에 정모씨는 논란의 글을 지우고 기보배 선수에게 사과하는 글을 올렸지만 “외국에서 한국사람이 개를 먹는다고 하면 무시당한다”며 자신의 발언을 고수했다. 이에 또다시 논란이 일자 결국 모든 글들을 삭제한 상태이다. 이에 최여진씨는 자신의 인스타그램에 자필 사과문을 올리며 자신의 어머니가 양궁선수 기보배를 욕한 것에 대해 사과한 상황이다.<br>
          ▲저 글 원문 봤는데 기보배 선수가 고소해도 할 말 없을 정도로 충격적이었음 ▲6년전 아버지인터뷰가지고 멘탈경기인 양궁선수에게 올림픽 경기직전 입에 담지도 못할 패드립에 욕설이라...  ▲딸이 이리도 유명한 연예인인데;; 어떻게 저렇게 자식 생각 안 하는 행동을 하셨을까<br><br><br>
          
         [김국진 강수지, 소속사 열애인정…진짜 연인 사이 됐다.]<br><br>   
          김국진가 강수지가 ‘진짜 연인’ 사이가 됐다. 단순 열애설이 아니라 소속사에서도 인정한 사실이다. 작년 SBS ‘불타는 청춘’이라는 프로그램에서 인연을 맺은 김국진과 강수지가 1년째 실제로 연애 중인 사실이 밝혀졌다. 두 사람은 작년 9월부터 만남을 이어갔고 최근엔 양가 부모님을 찾아가 정식으로 인사도 하고 결혼 허락도 받았다고 한다. 이에 많은 네티즌들이 긍정적인 반응을 보이며 둘의 열애를 지지하고 있다.<br>            
         ▲진~~~심으로 축하합니다. ▲강수지가 김국진 보는 눈에서 꿀이 떨어지던데 결국 안시성처럼 난공불락이었던 김국진 마음이 열렸구나.. 두분 진심 행복하시길~ ▲김숙 윤정수 보고있나? ㅋㅋㅋㅋ
         </p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>축구</div>
          <div class="collapsible-body"><p>
          [펄펄 난 호날두, 포르투갈 결승 견인]<br><br>
          호날두와 베일의 세기의 대결로 점쳐지던 포르투갈과 웨일스의 대결이 한국 시각으로 7일 새벽 4시에 펼쳐졌다. 승부는 후반 5분에 갈렸다. 호날두는 코너킥 찬스에서 전매특허인 고공 점프를 선보이며 웨일스 골망을 갈랐다. 곧이어 3분 뒤 호날두의 슈팅을 나니가 골문 앞에서 방향만 바꿔 놓으며 골을 기록했다. 이로써 호날두는 1골 1어시를 기록하며 이 경기 MOM에 뽑혔다. 반면 베일은 고군분투 했지만 램지의 부재를 이겨내지 못하고 끝내 결승의 문턱에서 좌절했다. 
          <br>▲호우주의보 가차 없었다! ▲아무리 부진해도 우리 형은 큰 경기에서 해준다 ▲날두가 왠지 그동안 이루지 못하던 국제메이저대회 우승할것같다 
          <br><br><br>
          [미리보는 결승, 프랑스 vs 독일]<br><br>
           치열한 접전이 예상되는 유로 4강 2번째 경기, 프랑스 대 독일이다. 두 팀 모두 이번 유로에서 패를 기록하지 않았고 양 팀 최근 5경기 맞대결 전적도 2승 1무 2패로 동등하다. 5경기 동안 11골을 몰아친 프랑스와 5경기 동안 1실점에 그친 독일의 그야 말로 창과 방패의 대결이다. 그러나 프랑스의 홈 그라운드 이점과 독일의 최전방 스트라이커 마리오 고메즈의 부상 결장으로 프랑스의 우세가 점쳐지고 있다. 
          <br>▲어느 팀이 이겨도 이상하지 않음 ▲독일은 개최국만 만나면 보내버리던데 ▲프랑스 이번 기세가 장난 아님 우승각! 
          <br><br><br>
          [포그바, 맨유와 개인 합의..유벤투스의 결정은?]<br><br>
          이번 이적시장 최고의 뜨거운 감자는 폴 포그바다. 레알 마드리드와 첼시, 맨체스터 유나이티드와 같은 세계적인 구단으로부터 영입 의사를 밝혔다. 그 중에서도 맨체스터 유나이티드는 포그바를 데려오기 위해 무려 1,539억원의 자금을 투자할 것으로 밝혀졌다. 포그바의 에이전트는 이미 즐라탄 이브라히모비치와 헨릭 음키타리안을 맨체스터 유나이티드와 계약을 성사시켰기 때문에 그가 포그바의 계약도 성사시킬 가능성이 농후하다. 하지만 유벤투스는 현재 포그바를 이적시킬 생각이 없다고 강하게 어필 하고 있어 모든 이의 관심이 쏠리고 있다. 
          <br>▲포그바까지 오면 진심 대박인디 ▲감독의 역량이 나온다 ▲포그바 왜 더 약팀으로 가지? 
          <br><br><br>
          [탈세 혐의 메시 징역 21개월 선고]<br><br>
          세계적인 축구스타 리오넬 메시가 그의 아버지와 3건의 탈세 혐의로 각각 징역 21개월을 선고 받았다. 더불어 한화 약 25억원 가량의 벌금도 선고 받았다. 메시는 이에대해 "나는 아무것도 몰랐고 축구만 했을뿐"이라며 해명했고 즉각 항소를 준비할 것이라고 했다.얼마 전 코파 아메리카 결승전 승부차기에서 실축을 하며 아쉽게 준우승에 머물렀던 메시는 눈물과 함께 대표팀 은퇴를 하고 얼마 안되 징역형을 선고 받아 그의 올 여름은 고단하기만 하다. 
          <br>▲호날두는 승승장구 중인데 ▲이번 발롱도르는 호날두가 따겠다 ▲아무리 성공했어도 탈세는 하면 안되지 ▲메시 요즘 되는 게 없네
                      
          </p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">polymer</i>야구</div>
          <div class="collapsible-body"><p>
            [프로야구 이태양, 문우람 승부조작 파문]<br><br>
            7월 21일 창원지검 특수부는 보도자료를 통해 1회 고의 볼넷을 던지는 등 승부조작에 개입한 프로야구 선수 2명과 브로커 1명, 불법도박 운영자 1명을 불구속 기소했다고 밝혔다.
            그 중 프로야구 선수 2명은 국가대표 출신 NC 선발투수 이태양과 넥센의 유망한 외야수 문우람인 것으로 알려져 큰 파장을 몰고 왔다.
            사건의 개요는 넥센 외야수 문우람(현 상무)이 브로커 A씨에게 먼저 접근을 하여 승부조작을 제의했고 문우람과 절친한 입단 동기 이태양이 그것을 실행하는 식으로 진행됐다.
            조사 결과 이태양은 2015년 1회 고의볼넷, 1회 고의실점 같은 방식으로 총 4경기에 승부조작을 시도했으며 4번 중 2번은 성공, 2번은 조작에 실패한 것으로 밝혀졌다.
            조작 성공 시 이태양은 브로커 A씨의 수익금 중 2000만원을 현금으로 받았고 문우람은 시계 등 1000만원 상당의 현물을 받은 것으로 알려졌다. 
            반대로 실패한 날엔 수 억을 날린 조폭들에게 폭행까지 당한 것으로 밝혀져 큰 충격을 주고 있다.
            KBO(한국야구위원회)는 재발 방지를 약속하고 이태양과 문우람에게 참가활동정지 처분을 내렸으며 추후 사법 결과가 발표되면 영구제명 등 최고 수준의 징계를 내릴 것이라고 발표했다.
            <br>
            ▲문우람 영창부터 잘 갔다와라 ▲이태양 저딴 놈이 국가대표까지 지냈다니 수치스럽다 ▲이 참에 싹 다 들어내서 조작범들 다 영구추방시키자!
            <br><br><br>
            [한국, 고척돔에서 사상 첫 WBC 개최 확정]<br><br>
           세계 야구 국가 대항전인 WBC가 드디어 한국에서도 열리게 되었다. WBC 대회를 주관하는 WBCI는 2일 "2017년 제 4회 WBC 본선 1라운드 아시아 지역 개최지로  한국 고척돔과 일본 도쿄돔을 선정했다"고 발표했다. 3월에 열리는 WBC 대회 특성상 3월에도 날씨가 쌀쌀한 편인 한국에서는 대회 개최가 쉽지 않았지만 올해 우리나라 최초의 돔구장인 고척돔이 개장하면서 사상 첫 WBC 개최가 급물살을 타게 되었다. KBO 구본능 총재는  "우리나라에서 처음으로 WBC를 개최하게 돼 대단히 기쁘다. 개최가 확정될 수 있도록 애써주신 서울시를 비롯한 WBCI 등 모든 관계자 여러분께 감사의 말씀을 드린다. 국내 야구팬은 물론 세계인들이 모두 함께 즐길 수 있는 야구 축제가 될 수 있도록 대회 준비에 만전을 기울이겠다"고 소감을 전했다. 대한민국은 대만, 네덜란드, 그리고 브라질, 영국, 이스라엘, 파키스탄이 참가하는 브루클린 예선의 우승팀과 함께 B조에 편성되었으며 본선 1라운드는 2017년 3월 7일부터 11일까지 열린다.
            <br>
            ▲결국 돔구장이 한건 하네 ▲군면제 안걸려있다고 대충 하지 말고 자존심 세우자 ▲승부조작 어영부영 넘어가려고 그러는거 아니지..??
            <br><br><br>
            [텍사스 레인저스, 벨트란-루크로이까지 영입 '우승 올인']<br><br>
            2016시즌 우승을 천명한 텍사스 레인저스가 결국 포수 조나단 루크로이와 베테랑 야수 카를로스 벨트란까지 트레이드로 영입에 성공했다. 텍사스는 트레이드 시장 마감날인 2일(한국시간) 밀워키로부터 루크로이와 마무리 투수 제프리스를 받고 유망주 2명과 추후지명권을 넘겨주는 조건에 합의했다. 그에 몇시간 앞서서는 양키스에 유망주 3명을 넘겨주고 벨트란을 데려옴으로써 우승을 향한 거침없는 포부를 내비췄다. 루크로이는 올해 3할 13홈런을 기록하고 있고 올스타까지 선정된 리그 수준급 포수이고, 벨트란은 통산 400홈런을 넘긴 리그를 대표하는 강타자로 꼽힌다. 불혹에 가까운 나이지만 올해도 3할 4리, 22홈런으로 변함없는 실력을 과시하고 있다. 텍사스는 취약 포지션이었던 포수 자리와 프린스 필더가 부상으로 빠진 지명타자 자리를 올스타급 선수로 메우게 되면서 역대급 다이너마이트 타선을 구축하게 됐다. 많은 유망주의 출혈을 감수하면서까지 2016년 올인 전략을 펼친 텍사스가 가을야구에서 어떤 결과를 낼지 귀추가 주목되는 바이다.
            <br>
            ▲추추트레인도 힘 보태서 꼭 우승반지 끼시길! ▲핵사스 타선 진짜 말이 안나온다 ㄷㄷ ▲선발투수 보강 못한게 조금 아쉽긴 하다..그래도 특급 유망주는 지켰으니
            <br><br><br>
            
          </p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">voicemail</i>농구</div>
          <div class="collapsible-body"><p>준비중 입니다.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">vpn_key</i>프리미엄</div>
          <div class="collapsible-body"><p>준비중 입니다.</p></div>
        </li>
      </ul>
      <br>
      <h5 class="header"><b><i class="small material-icons">toc</i>오아미스 이용방법</b></h5>
      <p class="grey-text text-darken-3 lighten-3">
          ① <b class="blue_armys" style="font-size:1.5em">멤버십을 신청</b>한다.
      </p>
      <p class="grey-text text-darken-3 lighten-3">
          ② 남은 기간만큼 결제하면 <b class="blue_armys" style="font-size:1.5em">서비스 등록 완료!</b>
      </p> 
      <p class="grey-text text-darken-3 lighten-3">
          ③ 오아미스가 <b class="blue_armys" style="font-size:1.5em">훈련병이 수료할 때까지 매주 화,목,토 오아시스 같은 사회 소식들을 보내준다! </b>
      </p>   
      <p class="grey-text text-darken-3 lighten-3">
        <i class="tiny material-icons">date_range</i> 서비스 신청은 <b class="blue_armys" style="font-size:1.5em">1주일 단위</b>로 신청할 수 있으며 <b class="blue_armys" style="font-size:1.5em">모든 훈련기간 동안 오아미스를 이용하면 할인을 받을 수 있습니다.</b>
      </p>
      <br>

      <h5 class="header"><b><i class="small material-icons">payment</i>오아미스 서비스 이용가격</b></h5><br>
              <table class="highlight browser-default">
                <thead>
                  <tr>
                      <th data-field="id"><b style="font-size:1.5em;">전송횟수</b></th>
                      <th data-field="id"><b style="font-size:1.5em;">카테고리 한 개당 가격</b></th>
                      <th></th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td><b style="font-size:1.5em;">3회(화,목,토)</b></td>
                    <td><b style="font-size:1.5em;">1,500원</b></td>
                    </tr>
                </tbody>
              </table>
      <br>
     <b class="blue_armys" style="font-size:1.5em">*결제 금액의 10%가 <a href="http://www.mhrk.org/" target="_blank" style="font-size:1.5em;">군인권센터</a> 후원금에 기부됩니다.</b>          
       </div>
  <!--</div>-->
  <!--<div class="parallax-container" style="height:400px">-->
  <!--  <div class="parallax"><img src="/assets/mmain3.png"></div>-->
  <!--</div>-->

<%= render 'service/footer' %>
<%= render 'service/scrt' %>