
<p style="display:none">
    사회와 단절된 논산 육군훈련소 훈련병에게 뉴스를 보내주는 오아미스입니다.
    사회와 단절된 논산 육군훈련소 훈련병에게 뉴스를 보내주는 오아미스입니다.
    사회와 단절된 논산 육군훈련소 훈련병에게 뉴스를 보내주는 오아미스입니다.
</p>

<%= render 'service/nav' %>

    

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                  <div class="card index-banners" style="background-color:rgba(255, 255, 255, 0.7);padding-top:10px;padding-bottom:10px;">     
                  
      
                      <!--<div class="card-content black-text1">-->
                        <!--<div class="row center">-->
                        <!--  <img class="center" src="/assets/logo1.png" style="width:30%;">-->
                        <!--</div>-->
                        <h3 class="center" style="margin-bottom:0px;"><span style="color:#6DBE45;">훈련병</span><span style="color:#76CDCE;">의 오아시스</span></h3>
                        <h1 class="center" style="color:#96E0DE;margin-top:0px;"><b>오아미스</b></h1>
                        
                        <div class="center">
                          <p class="black-text" style="font-size:1.5em;">오아미스는 <br>사회와 단절된 훈련병들에게<br>인터넷편지로 사회 뉴스를 <br>보내주는 서비스입니다.</p>
                          <a href="/service/index" id="download-button" class="btn-large waves-effect waves-light">오아미스란?</a>
                        </div>
                      <!--</div>                                                -->
                      <br>
                  </div>

<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                
                <br>
                <div>Image 출처: <a href="https://commons.wikimedia.org/wiki/File%3A2012.8.7_%EC%9C%A1%EA%B5%B0%ED%9B%88%EB%A0%A8%EC%86%8C_%EA%B1%B4%EA%B0%95%ED%95%9C_%EC%97%AC%EB%A6%84%EB%82%98%EA%B8%B0_Rep.of_Korea_Army_Training_Center_(7745142634).jpg">wikimedia</a> (대한민국 국군 Republic of Korea Armed Forces)</div>
            
            
            </div>
        </div>
    </div>


<%= render 'service/footer' %>
<%= render 'service/scrt' %>
